################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/hotelcheckapp/.vs/hotelcheckapp.slnx/FileContentIndex/c2cdd094-d536-4da9-ac05-ff8d16b1021b.vsidx
/hotelcheckapp/.vs/hotelcheckapp.slnx/FileContentIndex/a608e385-5aa6-4528-9d7b-cb2acb02bdd7.vsidx
/hotelcheckapp/.vs/hotelcheckapp.slnx/FileContentIndex/f03e2cda-e9bb-4490-82af-8f660fecf187.vsidx
